/* css rapide */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    box-sizing: border-box;
    overflow: hidden;
}
header {
    background-color: lightblue;
    color: white;
    padding: 10px 20px;
    text-align: center;
}
main {
    margin: 20px;
    padding: 20px;
    background-color: #add8e67a;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h1, h2 {
    margin-bottom: 20px;
}
#tasks li {
    list-style: none;
    margin: 10px 0;
}
/* couleur demandée */
.priority-1 label {
    color: red;
}
.priority-2 label {
    color: green;
}
.priority-3 label {
    color: blue;
}
/* Btn */
button {
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    opacity: 0.9;
}
form input, form select {
    margin-right: 8px;
    padding: 4px;
}

